version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/sql_app.db:/app/sql_app.db

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
